/*header*/

header.container > nav {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: inline;
    margin: 0;
    width: 100%;
    max-height: 44px;
}

div.sm-nav{
    display: none;
}

header.container > nav ul.nav-list {
    cursor: default;
    margin: 0;
    padding: 0 40px;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    box-sizing: content-box;
}

header.container > nav > div.big-nav > ul.nav-list > li {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 44px;
    z-index: 1;
    vertical-align: middle;
    text-align: center;
    line-height: 44px;
}
header.container > nav > div.sm-nav > ul.nav-list > li {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 44px;
    z-index: 1;
    vertical-align: middle;
    text-align: center;
    line-height: 44px;
}

li > a > span.list-text {
    visibility: hidden;
}

ul.nav-list a {
    display: inline-block;
    padding: 0 10px;
    height: 44px;
}

ul.nav-list span.fa {
    display: inline-block;
    padding: 0 10px;
/*    height: 44px;*/
    color: #fff;
}

ul.nav-list a.list-apple {
    background-size: 16px 44px;
    background-repeat: no-repeat;
    background-image: url(../image/nav/large/nav_apple_large.svg);
    background-position: center center;
    width: 16px;
}

ul.nav-list a.list-mac {
    background-size: 26px 44px;
    background-repeat: no-repeat;
    background-image: url(../image/nav/large/nav_mac_large.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    max-width: 44.2px;
}

ul.nav-list a.list-ipad {
    background-size: 27px 44px;
    background-repeat: no-repeat;
    background-image: url(../image/nav/large/nav_ipad_large.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    max-width: 45.9px;
}

ul.nav-list a.list-iphone {
    background-size: 44px 44px;
    background-repeat: no-repeat;
    background-image: url(../image/nav/large/nav_iphone_large.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    max-width: 74.8px;
}

ul.nav-list a.list-watch {
    background-size: 40px 44px;
    background-repeat: no-repeat;
    background-image: url(../image/nav/large/nav_watch_large.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    max-width: 68px;
}

ul.nav-list a.list-music {
    background-size: 37px 44px;
    background-repeat: no-repeat;
    background-image: url(../image/nav/large/nav_music_large.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    max-width: 62.9px;
}

ul.nav-list a.list-support {
    background-size: 45px 44px;
    background-repeat: no-repeat;
    background-image: url(../image/nav/large/nav_support_large.svg);
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    max-width: 76.5px;
}

ul.nav-list a.list-search {
    background-size: 18px 88px;
    background-repeat: no-repeat;
    background-image: url(../image/nav/large/nav_search_large.svg);
    background-position: 10px 0;
    width: 18px;
}

ul.nav-list a.list-bag {
    background-size: 17px 44px;
    background-repeat: no-repeat;
    background-image: url(../image/nav/large/nav_bag_large.svg);
    background-position: center center;
    width: 17px;
}

.mobile_header_menu{
    display: none;
}

@media screen and (min-width:360px) and (max-width: 767px) {
    body{
        padding: 0;
    }
    nav .big-nav{
        display: none;
    }
    nav .sm-nav{
        display: flex;
        justify-content: space-between;
    }
    nav .sm-nav ul{
        flex: 1;
    }
    .cancel{
        display: none;
    }
    .mobile_header_menu{
        display: none;
    }

    .header_toggleBtn.active .confirm{
        display: none;
    }

    .header_toggleBtn.active .cancel{
        display: block;
        color: white;
    }

    .mobile_header_menu.active{
        color: white;
        font-size: 1em;
        display: block;
        flex-direction: column;
        align-items: center;
        background-color: black;
        width: 100%;
    }

    .menu_formargin{
        margin: 10px;
    }

    input{
        font-family: FontAwesome;
        background-color: black;
        font-size: 1em;
        border-radius: 8px;
        width: 95%;
        padding-top: 3%;
        padding-bottom: 3%;
        opacity: 1;
        align-items: center;
    }

    .header_logo.active{
        display: block;
    }
    .list-bag.active{
        display: none;
    }

    .sc.active{
        display: none;
    }

    .ft.active{
        display: none;
    }
    body.active{
        background-color: black;
    }

    nav a:link{
        color:#f5f5f7;
    }

    nav a:visited{
        color:#f5f5f7;
    }

    .menu_formargin hr{
        width: 80%;
    }
}


@media screen and (min-width:768px) and (max-width: 1200px) {
    body{
        margin: 0;
        padding: 0;
    }
    nav{
        display: block;
        width: 100%;
    }

    nav .big-nav {
        display: block;
        width: 100%;
    }

    .big-nav .nav-list{
        display: block;
        width: 100%;
    }
}
