/*Section*/
a:visited {
    color: #06c;
    text-decoration:none;
  }
a:link {
    color: #06c;
    text-decoration:none;
  }

div.text_mobile_SE{
    display: none;
}

div.SE {
    width: 100%;
    height: 100%;
}

div.SE img {
    width: 100%;
    height: 100%;
}

div.SE > div.text_desktop {
    font-weight: 400;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    z-index: 2;
    text-align: center;
}

div.text_mobile_ipad{
    display: none;
}

div.ipad {
    width: 100%;
    height: 100%;
    position: relative;
}

div.ipad img {
    width: 100%;
    height: 100%;
}

div.ipad > div.text_desktop {
    font-weight: 400;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: black;
    z-index: 2;
    text-align: center;

}


.i11 .text {
    position: relative;
    font-size:20px;
    color: black;
    text-align: center;
}




.i11 {
    width: 100%;
    height: 100%;
    position: relative;
}

.i11 img {
    width: 100%;
    height: 100%;
}

.bottommenu1{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    left:30px;
}

.mac img{
    flex:1;
    width: 600px;
    height: 530px;
}

.Macbook img{
    flex:1;
    width: 600px;
    height: 530px;
}

.bottommenu2{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    left:30px;
}

.applewatch img{
    flex:1;
    width: 600px;
    height: 530px;
}

.airpod img{
    flex:1;
    width: 600px;
    height: 530px;
}


/*footer*/
div.footer{
  display: block;
}
div.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

div.menu h4 {
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: 1px;
}

div.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.menu a {
    list-style-type: none;
    padding-left: 0px;
    padding: 5px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

div.menu hr {
    display: none;
}
div.menu i{
    display: none;
}

div.explain {
    font-size: 12px;
}

@media screen and (max-width: 767px) {
    body{
        margin: 0;
    }
    section{
        margin: 0;
    }
    div.SE > div.text_desktop{
        display: none;
    }

    div.text_mobile_SE{
        display: block;
        padding-top: 70px;
        text-align: center;
        font-weight: 400;
    }
    
    div.ipad > div.text_desktop{
        display: none;
    }

    div.text_mobile_ipad{
        display: block;
        text-align: center;
        font-weight: 400;
    }


    div.bottommenu1{
        display: block;
        width: 100%;
        left :0;
    }

    div.bottommenu1 > div.mac > img{
        margin: 0;
        max-width: 100%;
        height: auto;
    }

    div.bottommenu1 > div.Macbook > img{
        max-width: 100%;
        height: auto;
    }

    div.bottommenu2{
        display: block;
        width: 100%;
        left :0;
    }

    div.bottommenu2 > div.applewatch > img{
        max-width: 100%;
        height: auto;
    }

    div.bottommenu2 > div.airpod > img{
        max-width: 100%;
        height: auto;
    }


   /* footer 부분 참고 */
    div.menu{
        display: flex;
        flex-direction: column;
    }
    div.menu > div> ul  > ul {
        display: none;
    }
    div.menu hr{
        display: block;
    }

    div.menu i{
        display: block;
    }

    div.menu div.moblile_mode1{
        display: flex;
        justify-content: space-between;
    }

    div.menu div.moblile_mode2{
        display: flex;
        justify-content: space-between;
    }

    div.menu div.moblile_mode3{
        display: flex;
        justify-content: space-between;
    }

    div.menu div.moblile_mode4{
        display: flex;
        justify-content: space-between;
    }

    .menu_content1{
        display: none;
    }
    .menu_content2{
        display: none;
    }
    .menu_content3{
        display: none;
    }
    .menu_content4{
        display: none;
    }

    .menu_content1.active{
        display: block;
    }

    .menu_content2.active{
        display: block;
    }
    .menu_content3.active{
        display: block;
    }
    .menu_content4.active{
        display: block;
    }


    div.explain{
        display:block;
        align-items: center;
        padding-left: 10px;
        color:  #999;
    }

    div.explain > P{
        font-size: 10px;
        color:  #999;
        font-weight: 700;
    }
    div.explain >span{
        margin-top: 10px;
        padding-right: 10px;
        display:inline-flex;
        font-size: 10px;
        color:  #999;
    }

    div.explain >a:link{
        color: #515154;
        font-size: 10px;
    }

    div.explain >a:visited{
        color: #515154;
        font-size: 10px;
    }
    
}
